@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage

<div class="@(isInDarkMode ? "dark" : null)">

    <body class="min-h-screen bg-white dark:bg-jet-black pattern-vertical-lines">
        <header>
            <NavBar>
                <Toggler>
                    <DarkModeToggle OnThemeChanged="HandleThemeChange" />
                </Toggler>
            </NavBar>
        </header>

        <main>
            @Body
        </main>
    </body>
</div>

@code {
    private bool isInDarkMode = false;
    protected override async Task OnInitializedAsync()
    {
        if (!(await LocalStorage.ContainKeyAsync("theme")))
        {
            // the app is opened for the first time on the browser therefore create the theme key
            await LocalStorage.SetItemAsStringAsync("theme", "light");
        }

        string theme = await LocalStorage.GetItemAsStringAsync("theme");

        if (theme is "dark")
        {
            isInDarkMode = true;
        }
        else
        {
            isInDarkMode = false;
        }
    }

    private void HandleThemeChange()
    {
        isInDarkMode = !isInDarkMode;
    }
}